@using System.Collections.Generic
@page "/"
@inject HttpClient Http

<PageTitle>Fritz's Hat Collection</PageTitle>

@if (Hats == null)  {
	<p>Loading...</p>
} else {

	<div class="hat-columns">
		@foreach (var hat in Hats) {
			<HatUI Model="hat"></HatUI>
		}
	</div>
}

@code {

	IEnumerable<Hat> Hats = null;

	[CascadingParameter]
	MainLayout _Layout { get; set; }

	protected override async Task OnInitializedAsync() {

		Hats = await Http.GetFromJsonAsync<Hat[]>("/api/GetHats");
		_Layout.OnSearch += DoSearch;

	}

	protected async void DoSearch(object sender, SearchArgs args) {

			Hats = (await Http.GetFromJsonAsync<Hat[]>("/api/GetHats"))
				.Where(h => h.Name.Contains(args.SearchTerm, StringComparison.InvariantCultureIgnoreCase))
				.ToArray();

			StateHasChanged();

	}

}

