<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
	<div class="mainflip">
		<div class="frontside">
			<div class="card">
				<img class="card-img-top img-fluid" src="https://hatcollection.blob.core.windows.net/hat-images/@(Model.Tag).jpg" onerror="this.onerror=null;this.src='/img/404Hat.jpg';this.alt='Hat image not found'" alt="hat image">
				<div class="card-body">
					<h4 class="card-title">@Model.Name</h4>
				</div>
				@if (!string.IsNullOrEmpty(Model.Acquired)) {
					<div class="card-footer text-muted text-right">
						Acquired: @Model.Acquired
					</div>
				}
			</div>
		</div>
		<div class="backside">
			<div class="card">
				<div class="card-header">
					@Model.Name
				</div>
				<div class="card-body">
					@* <h4 class="card-title">Card Title</h4> *@
					<p class="card-text">@Model.Description</p>
					@* <a href="#" class="btn btn-info btn-md">Info Button</a> *@
				</div>
				@* <div class="card-footer">
					This is a Footer
				</div> *@
			</div>
		</div>
	</div>
</div>

@code {

	[Parameter]
	public Hat Model { get; set; }

}